[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
WindowsStoreApp/

ExpotedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.csproj

.DS_Stor
.DS_Stor?
._*
.Spotlight-V100
.Trashes
.ehthumbs.db
Thumbs.db

*.html
*.unity3d